<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원정보</title>
</head>
<body>
    <!-- th:text는 객체의 값을 문자열로 변환해서 화면에 출력  -->
    <!-- 숫자로 형식 : ${#numbers.formatDecimal(value,   )} -->
    <h2>회원 가입정보</h2>
    <p>가입시간 : <span th:text="${now}"></span> </p>
    <div th:each="mdto,stat:${mdto}">
       <p>아이디 :<span th:text="${mdto.id}"></span></p>
    	<p>비밀번호 :<span th:text="${mdto.pw}"></span></p>
    	<p>email :<span th:text="${mdto.email}"></span></p>
    </div>
    
</body>
</html>