<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <!-- ReplyBoardDTO의 경로가 너무 길어 rDTO로 별칭을 지정한다. -->
  <typeAliases>
	<typeAlias alias="rDTO" type="replyBoard.dto.ReplyBoardDTO" />
</typeAliases>

</configuration>