<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title th:replace="~{/include/title.html::title}">Member Join</title>
<Link rel="stylesheet" th:href="@{/css/common.css}">
<Link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
<Link rel="stylesheet" th:href="@{/css/home.css}">
<Link rel="stylesheet" th:href="@{/css/board.css}">
<script th:src="@{/js/member.js}"></script>
</head>
<body>
	<header th:replace="~{/include/header_nav_footer.html::header}"></header>
	<nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>
	
	<section>
		<div id="section_wrap">
			<div class="word">게시글 보기</div>
			<div class="content">
				
			       <table width="500" border="1">
			         <tr height="40">
			            <td width="120" align="center">글번호</td>
			            <td width="180" align="center" th:text="${oneboard.num}">
			            <td width="120" align="center">조회수</td>
			            <td width="180" align="center" th:text="${oneboard.readcount}">	            
			         </tr>
			         <tr height="40">
			            <td width="120" align="center">작성자</td>
			            <td width="180" align="center" th:text="${oneboard.writer}">
			            <td width="120" align="center">작성일</td>
			            <td width="180" align="center" th:text="${oneboard.reg_date}">	            
			         </tr>
			         <tr height="40">
			            <td width="120" align="center">제목</td>
			            <td align="center" colspan="3" th:text="${oneboard.subject}">            
			         </tr>
			         <tr height="40">
			            <td width="120" align="center">글내용</td>
			            <td align="center" colspan="3" th:text="${oneboard.content}">            
			         </tr>
			         <tr height="40">
			         	<td align="center" colspan="4">
			         		<input type="button" value="수정하기"
			         		th:onclick="|location.href='@{/board/update(num=${oneboard.num})}'|">
			         		
			         		<form th:action="@{/board/deletePro}" method="GET" style="display:inline;">
				         		<!-- 삭제할 게시글의 번호, 비밀번호를 알아야 삭제가능 -->
				         		<!-- input type="hidden"이면 숨겨진상태로 value값을 떠넘겨줄수있다. -->
				         		<input type="hidden" name="num" th:value="${oneboard.num}">
				         		<input type="hidden" name="writerPw" th:value="${oneboard.writerPw}">
				         		
			         		<input type="submit" value="삭제하기" 
			         		onclick="return confirm('정말로 삭제하시겠습니까');">
			         		</form>
			         		
			         		<input type="button" value="목록보기"
			         		th:onclick="|location.href='@{/board/list}'|">
			         	</td>
			         </tr>
			         
			       </table>
			 
			</div>
		</div>
	</section>
	
	<footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
</body>
</html>

